.vs/
x64/
x86/
log/
Debug/
Release/
OpenGL_Flightsim/reference/stuff/
OpenGL_Flightsim/tools/

*.ini
*.user
*.suo
*.ncb
*.txt
.github/workflows/msbuild.yml
OpenGL_Flightsim/assets/models/skyhawk.mtl
OpenGL_Flightsim/assets/models/skyhawk.obj
