.vs/
x64/
x86/
log/
lib/
Debug/
Release/
OpenGL_Flightsim/reference/stuff/
OpenGL_Flightsim/tools/
OpenGL_Flightsim/build/
*.ini
*.user
*.suo
*.ncb
*.txt
*.zip
OpenGL_Flightsim/assets/models/skyhawk.mtl
OpenGL_Flightsim/assets/models/skyhawk.obj
.vscode/settings.json
OpenGL_Flightsim/assets/textures/terrain/data/11/*
OpenGL_Flightsim/assets/textures/terrain/data/12/*
OpenGL_Flightsim/assets/textures/terrain/data/13/*
OpenGL_Flightsim/assets/textures/terrain/data/14/*
OpenGL_Flightsim/assets/textures/terrain/data/15/*


